:root {
    --gray-100: #F3F3F3;
    --gray-200: #E7E7E7;
    --gray-300: #DBDBDB;
    --gray-400: #CFCFCF;
    --gray-500: #B7B7B7;
    --gray-600: #9F9F9F;
    --gray-700: #878787;
    --gray-800: #6C6C6C;
    --gray-900: #515151;
    --gray-1000: #363636;
    --gray-1100: #292929;
    --gray-1200: #1B1B1B;
    --gray-1300: #0E0E0E;
    --gray-1400: #000000;

    --green-100: #E5FFE5;
    --green-200: #CCFFCC;
    --green-300: #B2FFB2;
    --green-400: #99FF99;
    --green-500: #66FF66;
    --green-600: #33FF33;
    --green-700: #00FF00;
    --green-800: #00CC00;
    --green-900: #009900;
    --green-1000: #006600;
    --green-1100: #004D00;
    --green-1200: #003300;
    --green-1300: #001A00;
    --green-1400: #000000;

    --indigo-100: #F8F8FA;
    --indigo-200: #F1F1F5;
    --indigo-300: #EBEAEF;
    --indigo-400: #E4E3EA;
    --indigo-500: #D6D5E0;
    --indigo-600: #C9C7D5;
    --indigo-700: #BBB9C8;
    --indigo-800: #A4A1B6;
    --indigo-900: #767292;
    --indigo-1000: #49436D;
    --indigo-1100: #1B1449;
    --indigo-1200: #16103A;
    --indigo-1300: #100C2C;
    --indigo-1400: #0B081D;

    --blue-100: #F4F8FF;
    --blue-200: #EAF1FF;
    --blue-300: #DFE9FF;
    --blue-400: #D5E2FF;
    --blue-500: #CADBFF;
    --blue-600: #AFC8FE;
    --blue-700: #95B6FE;
    --blue-800: #7AA4FE;
    --blue-900: #4E86FD;
    --blue-1000: #2268FD;
    --blue-1100: #1B53CA;
    --blue-1200: #143E98;
    --blue-1300: #0E2A65;
    --blue-1400: #071533;

    --purple-100: #F2EEFE;
    --purple-200: #E6DDFC;
    --purple-300: #D9CCFB;
    --purple-400: #CCBBF9;
    --purple-500: #B399F6;
    --purple-600: #9977F3;
    --purple-700: #8055F0;
    --purple-800: #6844C5;
    --purple-900: #50349B;
    --purple-1000: #392370;
    --purple-1100: #2D1B5B;
    --purple-1200: #211346;
    --purple-1300: #150A30;
    --purple-1400: #09021B;

    --teal-100: #F1F9F7;
    --teal-200: #E2F2EF;
    --teal-300: #D4ECE8;
    --teal-400: #C6E5E0;
    --teal-500: #A9D9D0;
    --teal-600: #8DCCC1;
    --teal-700: #70BFB1;
    --teal-800: #5A9A8E;
    --teal-900: #44756C;
    --teal-1000: #2E4F49;
    --teal-1100: #233D38;
    --teal-1200: #182A27;
    --teal-1300: #0D1815;
    --teal-1400: #020504;

    --orange-100: #FEF7E6;
    --orange-200: #FDEFCD;
    --orange-300: #FDE6B4;
    --orange-400: #FCDE9B;
    --orange-500: #FACE69;
    --orange-600: #F9BD37;
    --orange-700: #F7AD05;
    --orange-800: #C68A04;
    --orange-900: #946803;
    --orange-1000: #634502;
    --orange-1100: #4A3402;
    --orange-1200: #312301;
    --orange-1300: #191101;
    --orange-1400: #000000;
  
    --brown-100: #F8F1EB;
    --brown-200: #F1E4D7;
    --brown-300: #E9D6C2;
    --brown-400: #E2C9AE;
    --brown-500: #D4AD86;
    --brown-600: #C5925D;
    --brown-700: #B77735;
    --brown-800: #925F2A;
    --brown-900: #6E4720;
    --brown-1000: #493015;
    --brown-1100: #372410;
    --brown-1200: #25180B;
    --brown-1300: #120C05;
    --brown-1400: #000000;

    --pink-100: #FBEBF4;
    --pink-200: #F6D7EA;
    --pink-300: #F2C3DF;
    --pink-400: #EDAFD4;
    --pink-500: #E587BF;
    --pink-600: #DC5FA9;
    --pink-700: #D33794;
    --pink-800: #A92C76;
    --pink-900: #7F2159;
    --pink-1000: #54163B;
    --pink-1100: #3F112C;
    --pink-1200: #2A0B1E;
    --pink-1300: #15060F;
    --pink-1400: #000000;
  }