.button {
    display: block;
    padding: 10px 16px;
    font-size: 14px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    transition: 0.1s;
}

.round {
    border-radius: 20px;
} 

.primary {
    background: #0067ff;
    color: #ffffff;
}

.primary:hover {
    background: #0d2d52;
    cursor: pointer;
}

.secondary {
    background: #ffffff;
    border: 1px solid #cccccc;
}

.secondary:hover {
    background: #0067ff;
    color: #ffffff;
    border: 1px solid #0067ff;
    cursor: pointer;
}

.text {
    background: none;
}

.text:hover {
    background: #eff2f6;
    cursor: pointer;
}

.alert {
    background: #ffffff;
    border: 1px solid #c80001;
    color: #c80001;
}

.alert:hover {
    background: #c80001;
    color: #ffffff;
    cursor: pointer;
}

.disabled {
    background: #EFF2F6;
    color: #CCCCCC;
    border: 1px solid #CCCCCC;
}